header {
   text-align: center;
   
}

footer {
    text-align: center;
}

h1 {
    font-family: fantasy;
    font-size: 300%;
}

th {
    font-size: 150%
}
a {
  font-weight: none;
}

a:visited {
  color: mediumvioletred;
}
a:hover {
  font-weight: bold
  
}
a:active {
  text-decoration: none;
}